<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
<a th:href="@{/orden/nuevo}" class="btn btn-primary">Nueva Orden</a>
<a th:href="@{/}" class="btn btn-secondary">Regresar</a>

<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th scope="col">ID</th>

        <th>Fecha</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="orden : ${orden}">
        <td th:text="${orden.id}"></td>

        <td th:text="${orden.fechagsmc}"></td>

        <td>
            <a th:href="@{/orden/editar/{id}(id=${orden.id})}" class="btn btn-warning btn-sm">Editar</a>
            <a th:href="@{/orden/eliminar/{id}(id=${orden.id})}" class="btn btn-danger btn-sm">Eliminar</a>

        </td>

    </tr>
    </tbody>
</table>
</body>
</html>